<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="MyApp" packages="">
	<!-- 打印到控制台的日志 -->
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<!-- 输出的格式 -->
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}	- %msg%n</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<!-- 打印debug日志 -->
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
